.relojTitulo {
  display: flex;
  align-items: center;
}

.relojIcono {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 24px;
  margin: 2px;
  border-radius: 4px;
}

.contadorNumeroContainer {
  display: flex;
}

.contadorNumero {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 24px;
  margin: 2px;
  border-radius: 4px;
}